<h1>Editing visitors zone acce</h1>

<%= render "form", visitors_zone_acce: @visitors_zone_acce %>

<br>

<div>
  <%= link_to "Show this visitors zone acce", @visitors_zone_acce %> |
  <%= link_to "Back to visitors zone acces", visitors_zone_acces_path %>
</div>
