
<p> User ma prirazenyho customera: </p>
<%= session[:current_customer] %>

<p> Governings aktualniho usera </p>
<%= @user_got_these_governings %>


<br/>
<%= @user_is_allowed_to_manipulate_with_customer %>
