<div id="<%= dom_id zone %>">
  <p>
    <strong>Name:</strong>
    <%= zone.name %>
  </p>

  <p>
    <strong>Visitor:</strong>
    <%= zone.visitor_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= zone.customer_id %>
  </p>

</div>
