
<%= render @zone %>
<br>
<div>
  <%= link_to "Edit this zone", edit_zone_path(@zone), class:"btn btn-secondary" %>
  <%= link_to "Back to zones", zones_path, class:"btn btn-dark" %>
    <br>
    <br>
  <%= button_to "Destroy this zone", @zone, method: :delete, class:"btn btn-danger" %>
</div>
