<div id="<%= dom_id customers_zone_acce %>">

  <p>
    <strong>Customer:</strong>
    <%= customers_zone_acce.customer_id %>
  </p>
  <p>
    <strong>Zone:</strong>
    <%= customers_zone_acce.zone_id %>
  </p>

</div>
