<h1>Editing customers zone acce</h1>

<%= render "form", customers_zone_acce: @customers_zone_acce %>

<br>

<div>
  <%= link_to "Show this customers zone acce", @customers_zone_acce %> |
  <%= link_to "Back to customers zone acces", customers_zone_acces_path %>
</div>
