

<h1>Customers zone access</h1>

<div id="customers_zone_acces">
  <% @customers_zone_acces.each do |customers_zone_acce| %>
    <%= render customers_zone_acce %>
    <p>
      <%= link_to "Show", customers_zone_acce %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_customers_zone_acce_path %>
